.custom-header {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
/*.css-1ri1ca4-MuiDataGrid-root .MuiDataGrid-cell--textRight {*/
/*    justify-content: center!important;*/
/*}*/
